#searchBox {
  /* background-color: white; */
  height: 32px;
  color: black;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 16px;
  box-sizing: border-box;
  border-radius: 8% / 50%;
  overflow: hidden;
  background-color: white;
}

#vimSearch {
  background-color: white;
  text-align: center;
  padding: 4px;
  padding-right: 8px;
  padding-left: 16px;
  font-weight: 800;
  color: black;
  border: none;
}

#searchInput {
  border: none;
  margin-right: 24px;
  height: 100%;
}

#searchInput:focus {
  outline: none;
}
